

<head>
    <meta charset="utf-8">
    <title>Trần Thị Hoàng Khuyên</title>
</head>

<body>
        <script language="javascript" src="jquery-1.9.1.min.js"></script>
        <script language="javascript" src="custom.js"></script>
    <header>
        <h2>
            <a href="http://www.dlu.edu.vn/">Trường Đại Học Đà lạt</a>
        </h2>
        <a href="#" class="stuts">Hiền Tài Là Nguyên Khí Quốc Gia</a>
    </header>
    <div class="container">
        <ul id="nav">
            <li>
                <a href="#">Trang Chủ</a>
            </li>
            <li>
                <a class="hsubs" href="#">Khoa Chuyên Môn</a>
                <ul class="subs">
                    <li>
                        <a href="http://cntt.dlu.edu.vn/">Khoa Công Nghệ Thông Tin</a>
                    </li>
                    <li>
                        <a href="http://ktt.dlu.edu.vn/">Khoa Toán Tin</a>
                    </li>
                    <li>
                        <a href="http://klh.dlu.edu.vn/">Khoa Luật</a>
                    </li>
                    <li>
                        <a href="http://vl.dlu.edu.vn/">Khoa Vật Lý</a>
                    </li>
                    <li>
                        <a href="http://nn.dlu.edu.vn/">Khoa Ngoại Ngữ</a>
                    </li>
                    <li>
                        <a href="http://sp.dlu.edu.vn/">Khoa Sư Phạm</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="hsubs" href="#">Phòng Ban</a>
                <ul class="subs">
                    <li>
                        <a href="http://pctsv.dlu.edu.vn/">Phòng Công tác Sinh Viên</a>
                    </li>
                    <li>
                        <a href="http://ptc.dlu.edu.vn/">Phòng Tài Chính</a>
                    </li>
                    <li>
                        <a href="http://pqldt.dlu.edu.vn/">Phòng Quản Lý Đào Tạo</a>
                    </li>
                    <li>
                        <a href="http://pdttx.dlu.edu.vn/">Phòng Đào Tạo Thường Xuyên</a>
                    </li>
                    <li>
                        <a href="http://tchc.dlu.edu.vn/">Phòng Tổ Chức Hành Chính</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="slide-holder">
            <div class="slide-pager">
                <div class="slide-control-prev">«</div>
                <div class="slide-control-next">»</div>
            </div>
            <div class="slide-container">
                <div class="slide-stage">
                    <div class="slide-image">
                        <img src="./img/1.png" />
                    </div>
                    <div class="slide-image">
                        <img src="./img/2.png" />
                    </div>
                    <div class="slide-image">
                        <img src="./img/3.png" />
                    </div>
                    <div class="slide-image">
                        <img src="./img/4.png" />
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="container clearfix">

            <div id="content">
                <section id="post" class="post page type-page status-publish hentry">
                    <article>

                        <h2 class="entry-title">
                            Trường Đại Học Đà Lạt
                        </h2>
                        <p>
                            Trường Đại học Đà Lạt là một trường đại học công lập đào tạo đa ngành nghề, đa lĩnh vực tại thành phố Đà Lạt, tỉnh Lâm Đồng.
                            Trường nằm trên một đồi thông, phong cảnh được xếp vào loại đẹp nhất Đông Nam Á. Tiền thân của
                            Trường Đại học Đà Lạt là Viện Đại học Đà Lạt.</p>
                        <p>
                            Trường Đại học Đà Lạt với bề dày hơn 50 năm đào tạo đã khẳng định được vị thế nhất định của mình trong hệ thống giáo dục
                            tại Việt nam và trên trường quốc tế.
                        </p>
                        <p>
                            Trường đào tạo các bậc gồm Tiến sĩ, Thạc sĩ, Đại học, Cao đẳng, và Trung cấp chuyên nghiệp.
                        </p>
                        <p>
                            Trường Đại học Đà Lạt là một trong 20 trường đại học đầu tiên tại Việt Nam được kiểm định và đạt chất lượng giáo dục đại
                            học. Được tổ chức quốc tế BVQI trực thuộc Vương quốc Anh, chuyên cấp chứng nhận về quản lý ISO
                            quốc tế đã trao bằng chứng nhận công nhận Trường Đại học Đà Lạt đạt tiêu chuẩn ISO 9001 - 2000
                            (27/10/2005).
                        </p>
                        <div class="entry-content clearfix">
                        </div>
                    </article>
                </section>
                <table width="900px">
                    <tr>

                        <th>Khoa Chuyên Môn</th>
                        <th>Phòng Chức Năng</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://cntt.dlu.edu.vn/">Khoa Công Nghệ Thông Tin</a>
                        </td>
                        <td>
                            <a href="http://pctsv.dlu.edu.vn/">Phòng Công tác Sinh Viên</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://ktt.dlu.edu.vn/">Khoa Toán Tin</a>
                        </td>
                        <td>
                            <a href="http://ptc.dlu.edu.vn/">Phòng Tài Chính</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://nn.dlu.edu.vn/">Khoa Ngoại Ngữ</a>
                        </td>
                        <td>
                            <a href="http://pqldt.dlu.edu.vn/">Phòng Quản Lý Đào Tạo</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://klh.dlu.edu.vn/">Khoa Luật</a>
                        </td>
                        <td>
                            <a href="http://pdttx.dlu.edu.vn/">Phòng Đào Tạo Thường Xuyên</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://vl.dlu.edu.vn/">Khoa Vật Lý</a>
                        </td>
                        <td>
                            <a href="http://tchc.dlu.edu.vn/">Phòng Tổ Chức Hành Chính</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://sp.dlu.edu.vn/">Khoa Sư Phạm</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>




    <div class="footer">
        <h3>
            <a href="http://www.dlu.edu.vn/">Trường Đại Học Đà lạt</a>
        </h3>
        <h4> Design By Hoang Khuyen </h4>

    </div>

    <body>